@model IEnumerable<Program>

@{
    ViewData["Title"] = "Sex";
}

<h1>Sex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <p>I think theres something missing here we will be back after I finish the tutorial</p>
    </tbody>
</table>
