    <h3>Categories page</h3>
    <br />
    <ul>
        <li>
            <a href="/categories/edit/1">Bevarage</a>
        </li>
        <li>
            <a href="/categories/edit/2">Meat</a>
        </li>
    </ul>